<div class="main-sale">
    <div class="cart-list">
        <!-- cart -->
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Products</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productCart; let i = index;">
                  <td>
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </td>
                <td scope="row">{{item.product}}</td>
                <td>{{item.price}}</td>
                <td>
                    <div class="number">
                        <span class="minus" (click)="updateProductCart('minus',i)">-</span>
                        <input type="text" disabled value="{{item.quantity}}"/>
                        <span class="plus" (click)="updateProductCart('plus',i)">+</span>
                    </div>
                </td>
                <td>{{item.total}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="process-cart">
        <!-- process -->
        <div class="calculate">
            <table class="table">
                <!-- <thead>
                </thead> -->
                <tbody>
                  <tr>
                    <th scope="col">Subtotal</th>
                    <th scope="col">00</th>
                  </tr>
                  <tr>
                    <th scope="row">VAT Tax</th>
                    <td>n/a</td>
                  </tr>
                  <tr>
                    <th scope="row">Discount</th>
                    <td>n/a</td>
                  </tr>
                  <tr>
                    <th scope="row">Total</th>
                    <td>00 eu</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="action">
            <button class="btn btn-danger">Cancel sale</button>
            <button class="btn btn-primary">Process sale</button>
        </div>
    </div>
</div>