<div class="main-sale">
    <div class="cart-list">
        <!-- cart -->
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Products</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productCart">
                  <td>
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </td>
                <td scope="row">{{item.product}}</td>
                <td>{{item.price}}</td>
                <td>
                    <div class="number">
                        <span class="minus">-</span>
                        <input type="text" value="1"/>
                        <span class="plus">+</span>
                    </div>
                </td>
                <td>{{item.total}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="process-cart">
        <!-- process -->
        <div class="calculate">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="action">
            <button class="btn btn-danger">Cancel sale</button>
            <button class="btn btn-primary">Process sale</button>
        </div>
    </div>
</div>